.circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    margin: 3px;
    outline: none;
    border: none;
    /* animation: blink 0.5s infinite; */
}

.circle:disabled {
    cursor: not-allowed;
}

.checkButton:disabled {
    pointer-events: all !important;
    cursor: not-allowed !important;
}

.selectableRowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.checkButtonContainer{
    margin-right: 1rem;
}

@keyframes blink {
    0% {
        border: 2px solid #000;
    }

    100% {
        border: 2px solid #fff;
    }
}

/* @keyframes blink {
    0% {
        border-color: #000;
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: #000;
    }
} */