.circle {
    /* width: 40px;
    height: 40px; */
    border-radius: 50%;
    cursor: pointer;
    margin: 3px;
    outline: none;
    border: none;
    /* animation: blink 0.5s infinite; */
}

.circle:disabled {
    cursor: not-allowed;
}

.checkButton:disabled {
    pointer-events: all !important;
    cursor: not-allowed !important;
}

.selectableRowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.checkButtonContainer {
    margin-right: 0.5rem;
}

.hints {
    position: relative;
    width: 35px;
    height: 35px;
    background-color: white;
}

.hintCircle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: lightgray;
    margin: 5px;
}

.hintCircle:nth-child(1) {
    top: 0;
    left: 0;
}

.hintCircle:nth-child(2) {
    top: 0;
    right: 0;
}

.hintCircle:nth-child(3) {
    bottom: 0;
    left: 0;
}

.hintCircle:nth-child(4) {
    bottom: 0;
    right: 0;
}

.hintContainer{
    border: 1px solid;
}

@keyframes blink {
    0% {
        border: 2px solid #000;
    }

    100% {
        border: 2px solid #fff;
    }
}
